*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --Purple: hsl(259, 100%, 65%);
    --Light: red: hsl(0, 100%, 67%);
    
    /* neutral */

    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);

    --ff: [Poppins];
    --fs-400: 400i;
    --fs-700: 700;
    --fs-800: 800i;

}
































/* .attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} */